
/* ===== HOME WEBPAGE STYLING ===== */
/* == SECTIONS == */
.heading-section {
  padding: 20px;
}
/* == CONTAINERS == */
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.heading-container .hover-text {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: white;
  margin-top: 50px;
}
.hover-text span {
  display: inline-block;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}
.hover-text:hover span {
  color: var(--peachy);
  transform: translateY(-2px);
}

.hover-text span:nth-child(1) { transition-delay: 0s; }
.hover-text span:nth-child(2) { transition-delay: 0.05s; }
.hover-text span:nth-child(3) { transition-delay: 0.1s; }
.hover-text span:nth-child(4) { transition-delay: 0.15s; }
.hover-text span:nth-child(5) { transition-delay: 0.2s; }
.hover-text span:nth-child(6) { transition-delay: 0.25s; }
.hover-text span:nth-child(7) { transition-delay: 0.3s; }
.hover-text span:nth-child(8) { transition-delay: 0.35s; }
.hover-text span:nth-child(9) { transition-delay: 0.4s; }
.hover-text span:nth-child(10) { transition-delay: 0.45s; }
.hover-text span:nth-child(11) { transition-delay: 0.5s; }
.hover-text span:nth-child(12) { transition-delay: 0.55s; }
.hover-text span:nth-child(13) { transition-delay: 0.6s; }
.hover-text span:nth-child(14) { transition-delay: 0.65s; }
.hover-text span:nth-child(15) { transition-delay: 0.7s; }
.hover-text span:nth-child(16) { transition-delay: 0.75s; }
.hover-text span:nth-child(17) { transition-delay: 0.8s; }

.career-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* == HOME IMAGE STYLING == */
.image-wrapper {
  position: relative;
  width: fit-content;
}
.image-wrapper::before {
  content: "";
  position: absolute;
  inset: 50px; /* border thickness */
  border-radius: 30%;
  background: linear-gradient(
    90deg,
    var(--neon-orange),
    var(--neon-sky),
    var(--neon-yellow),
    var(--neon-green),
    var(--neon-orange),
    var(--neon-sky)
  );
  background-size: 600% 100%;
  background-position: 0% 50%;

  z-index: 0;
  transform: rotate(30deg);
  animation: switch-colors 4s linear infinite,
    inset-out 1s ease forwards;
}
.heading-image {
  position: relative;
  z-index: 1;
  height: 400px;
  border-radius: 20%;
  object-fit: cover;
  background: #000;
}

.career-tag {
  background-color: var(--peachy-blue);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  transition: all 0.3s ease;
  opacity: 0;
  animation: fade-in 1s ease forwards;
}
.career-tag:first-child {
  animation-delay: 1s;
}
.career-tag:nth-child(2) {
  animation-delay: 1.5s;
}
.career-tag:nth-child(3) {
  animation-delay: 2s;
}
.career-tag:hover {
  background-color: var(--peachy);
  box-shadow: 0 0px 10px rgba(94, 172, 221, 0.377);
  transform: scale(1.05);
}
.heading-description {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s ease forwards 2.5s;
}
.cta-button {
  display: inline-block;
  background-color: var(--peachy);
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.cta-button:hover {
  background-color: darkorange;
  transform: translateY(-2px);
}
@keyframes inset-out {
  from {
    inset: 50px;
  }
  to {
    inset: -5px;
  }
}
@keyframes switch-colors {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@media (min-width: 10px) {
  .heading-image {
    height: 300px;
  }
  .heading-container .hover-text {
    font-size: 1.3rem;
  }
}
@media (min-width: 425px) {
  .heading-image {
    height: 400px;
  }
  .heading-container .hover-text {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .heading-image {
    height: 500px;
  }
  .heading-container .hover-text {
    font-size: 2.3rem;
  }
  .career-tag {
    font-size: 16px;
  }
  .heading-description {
    font-size: 18px;
  }
}